<div class="header">
  <h2>{{ tableType === 'requests' ? 'Guest Requests' : 'Reservations' }}</h2>

  @if (tableType === 'requests') {
    <button mat-raised-button class="create-request-button" color="primary" (click)="openCreateRequestDialog()">
      Create New Request
    </button>
  }
</div>

<table mat-table [dataSource]="rows" class="mat-elevation-z8 full-width">

  <!-- Dynamic columns -->
  @for (col of columns; track col) {
    <ng-container [matColumnDef]="col">
      <th mat-header-cell *matHeaderCellDef>{{ columnHeaders[col] }}</th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element[col] }}" matTooltipPosition="above">
        {{ element[col] }}
      </td>
    </ng-container>
  }

  <!-- Actions column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      @for (act of actions; track act.name) {
        <button mat-button [color]="act.color" (click)="onAction(act.name, element)">
          {{ act.label }}
        </button>
      }
    </td>
  </ng-container>

  <!-- Table header and rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
