<mat-toolbar color="primary">
  <a class="title-button" href="/">Booking</a>
  <span class="fill-remaining-space"></span>
  @if(userType === 'Guest')
  {
    <a class="nav-button" href="/my-repo">Requests</a>
    <a class="nav-button" href="/my-organization">Reservations</a>
    <a class="nav-button" (click)="logout()">Logout</a>
  } @else if(userType === 'Host')
  {
    <a class="nav-button" href="/my-repo">Requests</a>
    <a class="nav-button" href="/my-organization">Reservations</a>
    <a class="nav-button" (click)="logout()">Logout</a>
  } @else
  {
    <a class="nav-button" href="/login">Login</a>
    <a class="nav-button" href="/sign-up">Sign Up</a>
  }
</mat-toolbar>