.title-button {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.toolbar {
  display: flex;
  background-color: #1976d2;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
}


.toolbar-links {
  display: flex;
  gap: 1rem;
}

.toolbar-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.toolbar-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.toolbar-link:last-child {
  margin-right: 0;
}
